<a href="https://colab.research.google.com/github/nafl13/ICT_Internship/blob/day4/internshipD4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data=pd.read_csv(r'/content/beer-servings (2) (2).csv',index_col='Unnamed: 0')

In [ ]:
data

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,Albania,89.0,132.0,54.0,4.9,Europe
2,Algeria,25.0,0.0,14.0,0.7,Africa
3,Andorra,245.0,138.0,312.0,12.4,Europe
4,Angola,217.0,57.0,45.0,5.9,Africa
...,...,...,...,...,...,...
188,Venezuela,NaN,100.0,3.0,7.7,South America
189,Vietnam,111.0,2.0,1.0,2.0,Asia
190,Yemen,6.0,0.0,0.0,0.1,Asia
191,Zambia,32.0,19.0,4.0,2.5,Africa
192,Zimbabwe,64.0,18.0,4.0,4.7,Africa

In [ ]:
for i in['beer_servings','spirit_servings','wine_servings','total_litres_of_pure_alcohol']:
  data[i]=data[i].fillna(data[i].median())

In [ ]:
data.isna().sum()

country                         0
beer_servings                   0
spirit_servings                 0
wine_servings                   0
total_litres_of_pure_alcohol    0
continent                       0
dtype: int64

In [ ]:
data.shape

(193, 6)

In [ ]:
data.dtypes

country                          object
beer_servings                   float64
spirit_servings                 float64
wine_servings                   float64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [ ]:
data.continent.nunique()

6

In [ ]:
data1=pd.get_dummies(data)

In [ ]:
data1.shape

(193, 203)

In [ ]:
data.country.nunique()

193

In [ ]:
data2=data.drop('country',axis=1)

In [ ]:
data2.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,0.0,0.0,0.0,0.0,Asia
1,89.0,132.0,54.0,4.9,Europe
2,25.0,0.0,14.0,0.7,Africa
3,245.0,138.0,312.0,12.4,Europe
4,217.0,57.0,45.0,5.9,Africa

In [ ]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.0,0.0,0.0,0.0,Asia
1,Albania,89.0,132.0,54.0,4.9,Europe
2,Algeria,25.0,0.0,14.0,0.7,Africa
3,Andorra,245.0,138.0,312.0,12.4,Europe
4,Angola,217.0,57.0,45.0,5.9,Africa

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
label_encoder=LabelEncoder()

In [ ]:
data['continent'] = label_encoder.fit_transform(data['continent'])

In [ ]:
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0.0,0.0,0.0,0.0,1
1,Albania,89.0,132.0,54.0,4.9,2
2,Algeria,25.0,0.0,14.0,0.7,0
3,Andorra,245.0,138.0,312.0,12.4,2
4,Angola,217.0,57.0,45.0,5.9,0

In [ ]:
data3=data.drop('country',axis=1)

In [ ]:
X=data3.drop('total_litres_of_pure_alcohol',axis=1)
y=data3['total_litres_of_pure_alcohol']

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()

In [ ]:
model = lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
print('Mean Squared Error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is:',r2_score(y_test,predictions))

Mean Squared Error is:  1.7720922847547185
R Squared value is: 0.916337574413759

In [ ]:
X.describe()

       beer_servings  spirit_servings  wine_servings   continent
count     193.000000       193.000000      193.00000  193.000000
mean      103.917098        82.259067       48.88601    1.694301
std        98.580146        87.389366       79.41700    1.501672
min         0.000000         0.000000        0.00000    0.000000
25%        21.000000         5.000000        1.00000    0.000000
50%        76.000000        60.000000        9.00000    1.000000
75%       171.000000       128.000000       59.00000    3.000000
max       376.000000       438.000000      370.00000    5.000000

In [ ]:
x1=X.drop('continent',axis=1)

In [ ]:
x1.head()

   beer_servings  spirit_servings  wine_servings
0            0.0              0.0            0.0
1           89.0            132.0           54.0
2           25.0              0.0           14.0
3          245.0            138.0          312.0
4          217.0             57.0           45.0

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
min_max_scaler=MinMaxScaler(feature_range=(0,1))

In [ ]:
x1=min_max_scaler.fit_transform(x1)

In [ ]:


type(x1)

numpy.ndarray

In [ ]:
x1=pd.DataFrame(x1,columns=['beer_servings','spirit_servings','wine_servings'])

In [ ]:
x1.describe()

       beer_servings  spirit_servings  wine_servings
count     193.000000       193.000000     193.000000
mean        0.276375         0.187806       0.132124
std         0.262181         0.199519       0.214641
min         0.000000         0.000000       0.000000
25%         0.055851         0.011416       0.002703
50%         0.202128         0.136986       0.024324
75%         0.454787         0.292237       0.159459
max         1.000000         1.000000       1.000000

In [ ]:
type(x1)

pandas.core.frame.DataFrame

In [ ]:

X.drop(['beer_servings','spirit_servings','wine_servings'],axis=1,inplace=True)

In [ ]:
X=pd.concat([X,x1],axis=1)
X.head()

   continent  beer_servings  spirit_servings  wine_servings
0          1       0.000000         0.000000       0.000000
1          2       0.236702         0.301370       0.145946
2          0       0.066489         0.000000       0.037838
3          2       0.651596         0.315068       0.843243
4          0       0.577128         0.130137       0.121622

In [ ]:
X.tail()

     continent  beer_servings  spirit_servings  wine_servings
188          5       0.202128         0.228311       0.008108
189          1       0.295213         0.004566       0.002703
190          1       0.015957         0.000000       0.000000
191          0       0.085106         0.043379       0.010811
192          0       0.170213         0.041096       0.010811

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=.20)

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
print('Mean Squared Error :',mean_squared_error(y_test,predictions))
print('R Squared value :',r2_score(y_test,predictions))

Mean Squared Error : 1.7720922847547178
R Squared value : 0.9163375744137591

standar scaling

In [ ]:
X.describe()

        continent  beer_servings  spirit_servings  wine_servings
count  193.000000     193.000000       193.000000     193.000000
mean     1.694301       0.276375         0.187806       0.132124
std      1.501672       0.262181         0.199519       0.214641
min      0.000000       0.000000         0.000000       0.000000
25%      0.000000       0.055851         0.011416       0.002703
50%      1.000000       0.202128         0.136986       0.024324
75%      3.000000       0.454787         0.292237       0.159459
max      5.000000       1.000000         1.000000       1.000000

In [ ]:
X=data3.drop('total_litres_of_pure_alcohol',axis=1)

In [ ]:
y=data3['total_litres_of_pure_alcohol']

In [ ]:
X.describe()

       beer_servings  spirit_servings  wine_servings   continent
count     193.000000       193.000000      193.00000  193.000000
mean      103.917098        82.259067       48.88601    1.694301
std        98.580146        87.389366       79.41700    1.501672
min         0.000000         0.000000        0.00000    0.000000
25%        21.000000         5.000000        1.00000    0.000000
50%        76.000000        60.000000        9.00000    1.000000
75%       171.000000       128.000000       59.00000    3.000000
max       376.000000       438.000000      370.00000    5.000000

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
std_sc1=StandardScaler()

In [ ]:
x1=x.drop('continent',axis=1)

In [ ]:
x1=std_sc1.fit_transform(x1)

In [ ]:
type(x1)

numpy.ndarray

In [ ]:
x1=pd.DataFrame(x1,columns=['beer_servings','spirit_servings','wine_servings'])

In [ ]:
X.drop(['beer_servings','spirit_servings','wine_servings'],axis=1,inplace=True)

In [ ]:
X=pd.concat([X,x1],axis=1)

In [ ]:
X.head()

   continent  beer_servings  spirit_servings  wine_servings
0          1      -1.056880        -0.943742      -0.617162
1          2      -0.151713         0.570668       0.064562
2          0      -0.802619        -0.943742      -0.440419
3          2       1.434871         0.639505       3.321685
4          0       1.150100        -0.289792      -0.049059

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=.20)

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
print('Mean Squared Error :',mean_squared_error(y_test,predictions))
print('R Squared value :',r2_score(y_test,predictions))

Mean Squared Error : 1.7720922847547182
R Squared value : 0.916337574413759