<a href="https://colab.research.google.com/github/nafl13/ICT_Internship/blob/day2/InternshipD2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class student():
  def __init__(self,name,marks):
    self.name=name
    self.marks=marks

  def result(self):
    if self.marks>40:
      return 'pass'
    else:
      return 'fail'

In [ ]:
st1=student('ameen','30')
st2=student('anand','18')
st3=student('edger','50')
st4=student('nafal','40')
st5=student('bilal','2')
stud_name=[st1,st2,st3,st4,st5]
stud_pass=[]
stud_fail=[]

In [ ]:
for x in stud_name:
  if x.result()=='pass':
    passed.append(x.name)
  else:
     fail.append(x.name) 

print(fail)
print(passed)

TypeError: ignored

In [ ]:
class animal():
  def __init__(self,name):
   self.name=name

In [ ]:
an1=animal('cat')

In [ ]:
print(st1.name)
an1.name

ameen

'cat'

In [ ]:
class circle:
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        return 3.14 * (self.radius ** 2)
    def perimeter(self):
        return 2 * 3.14 * self.radius
r=int(input("Enter the radius: "))
r1 = circle(r)
print("Area:", r1.area())
print("Perimeter:", r1.perimeter())

Enter the radius: 5
Area: 78.5
Perimeter: 31.400000000000002

**ASSIGNMENT_DAY_2**

In [ ]:
fruits = ['banana', 'orange', 'mango', 'lemon']
reversed_fruits = []

for i in range(len(fruits)-1, -1, -1):
    reversed_fruits.append(fruits[i])

print(reversed_fruits)

['lemon', 'mango', 'orange', 'banana']

In [ ]:
a = 0
b = 1
for i in range(10):
    print(a, end=" ")
    c = a + b
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34

In [ ]:
def prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

count = 0
for i in range(0, 101):
    if prime(i):
        print(i)
        count += 1

print(f"\nThere are {count} prime numbers between 0 and 100.")

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

There are 25 prime numbers between 0 and 100.

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num,"is even number")
    print("Square of", num, "is", num**2)
else:
    print(num,"is odd number")
    print("Cube of", num, "is", num**3)

Enter a number: 5
5 is odd number
Cube of 5 is 125

In [ ]:
sentence = input("Enter a sentence: ")
words = sentence.split()
longest_word = ""
for word in words:
    if len(word) > len(longest_word):
        longest_word = word
print("The longest word is:", longest_word)

Enter a sentence: hi pyth
The longest word is: pyth

In [ ]:
sum = 0
count = 0
while count < 5:
    num = float(input("Enter number: "))
    sum += num
    count += 1
average = sum / 5
print("The average of 5 numbers is: ", average)

Enter number: 4
Enter number: 2
Enter number: 4
Enter number: 6
Enter number: 7
The average of 5 numbers is:  4.6

In [ ]:
n = int(input("Enter a number:"))
tot = 0
while(n > 0):
    dig = n % 10
    tot = tot + dig
    n = n // 10
print("The total sum of digits of the given number is:", tot)

Enter a number:89
The total sum of digits of the given number is: 17

In [ ]:
principal = float(input("Enter the principal value: "))
rat = float(input("Enter the rate of interest: "))
rate=rat/100
years = int(input("Enter the number of years: "))

for year in range(1, years+1):
    interest = principal * rate * year
    amount = principal + interest
    print(f"Year :",year)
    print(f"Interest = ",interest)
    print(f"Amount = ",amount)

Enter the principal value: 100000
Enter the rate of interest: 5
Enter the number of years: 5
Year : 1
Interest =  5000.0
Amount =  105000.0
Year : 2
Interest =  10000.0
Amount =  110000.0
Year : 3
Interest =  15000.0
Amount =  115000.0
Year : 4
Interest =  20000.0
Amount =  120000.0
Year : 5
Interest =  25000.0
Amount =  125000.0

In [ ]:
year = int(input("Please enter the year you wish: "))

def leapYear(year):
    if ((year%400==0)or((year%4==0)and(year%100!=0))):
        print("Leap Year")
    else:
        print("Not a Leap Year")

leapYear(year)

Please enter the year you wish: 2048
Leap Year

In [ ]:
years = [2034, 2048]

for year in years:
    if ((year%400==0)or((year%4==0)and(year%100!=0))):
        print(str(year) + " is a Leap Year")
    else:
        print(str(year) + " is Not a Leap Year")

2034 is Not a Leap Year
2048 is a Leap Year