<a href="https://colab.research.google.com/github/nafl13/ICT_Internship/blob/day1/internshipD1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
val=['Anand','Ameensha','Ahmad Nafl']
reverse=[]
for i in range(len(val)) :
    reverse.append(val[len(val) - i - 1])

for i in range(len(reverse)):
  print(reverse[i])

Ahmad Nafl
Ameensha
Anand

In [ ]:
n = int(input("Enter the number of rows")) 
for i in range(0, n):  
  for j in range(0,n):
     print("* ",end='')  
  print()

Enter the number of rows5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
print ("python \n"*3)

python
python
python

In [ ]:
s="python"
print (s[0:4])

pyth

In [ ]:
animals =["cat","dog","mouse"]
for animal in animals:
  print('hi '+'animals')

hianimals
hianimals
hianimals

In [ ]:
a = int(input("Enter the first number : "))
b = int(input("Enter the second number: "))
c = int(input("1.addition\n2.multiplication\n3.division\n4.substraction\nselect the operation: "))
if (c==1):
  print (a+b)
elif(c==2):
  print(a*b)
elif(c==3):
  if (b==0):
    print ("not possible")
  else:
   print(a/b)
elif(c==4):
  print(a-b)
else:
  print("error")

Enter the first number : 5
Enter the second number: 6
1.addition
2.multiplication
3.division
4.substraction
select the operation: 6
error

In [ ]:
a=int(input('Enter the number:- '))
if a<2:
  print(a,"is not prime" )     
else:
    for i in range(2,a):
        if a%i==0:
          print(a,'is not prime')
          flag=0
          break
        else:
          flag=1
    if flag==1:
      print(a,"is prime")

Enter the number:- 3
3 is prime

In [ ]:
a = int(input("Enter the year : "))
if a%4==0 and a%400==0 or a%100!=0:
  print("leap year")
else:
  print("not leap year")

Enter the year : 2020
leap year

In [ ]:
a = int(input("Enter the number : "))
s=0
for i in range (0,a+1):
  s=s+i
print("the sum is: ",s)

Enter the number : 5
the sum is:  15

In [ ]:
def function_name(argument):
  #fn perform operation

In [ ]:
def greet():
  print ('Hello')

In [ ]:
greet()

Hello

In [ ]:
def sqr(num):
  sum=num*num
  print (sum)

In [ ]:
sqr(5)

25

In [ ]:
sqr(8)

**ASSIGNMENT_DAY_1**

In [ ]:
lst = []
n = int(input("Enter number of elements : "))
for i in range(0,n):
  print("Enter elements: ")
  ele = int(input())
  lst.append(ele) 
  print(lst)
sum = 0
for i in lst:
  sum += i
print("Sum of all elements in given list: ", sum)

Enter number of elements : 3
Enter elements:
5
[5]
Enter elements:
6
[5, 6]
Enter elements:
7
[5, 6, 7]
Sum of all elements in given list:  18

In [ ]:
string = input("Enter the string : ")
N=0
print("length of The String: ",len(string))
print("First half of the string: ",string[:len(string)//2])

Enter the string : ahmad
length of The String:  5
First half of the string:  ah

In [ ]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
Add = str1 + str2
print("Resultant string is:", Add)
print("Length of the resultant string is:", len(Add))

Enter first string: ahmad
Enter second string: nafl
Resultant string is: ahmadnafl
Length of the resultant string is: 9

In [ ]:
tup = (78,45,32,19,82,77,40,39)
lst = list(tup)
lst[2] = 100
tup = tuple(lst)
print(tup)

(78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
lst = [19,32,10,55,31,32,94,29,10,65,77,40,40]
print("list before:",lst)
print("length of the list before:",len(lst))
lst[9] = 300
lst.remove(32)
while 40 in lst:
    lst.remove(40)
del lst[5]
lst.insert(2, 200)
s=0
for i in lst:
  s=s+i
print("list after:",lst)
print("Length of list after:", len(lst))
print("Maximum value in list:", max(lst))
print("Sum of all elements in list:",s )

list before: [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
length of the list before: 13
list after: [19, 10, 200, 55, 31, 32, 29, 10, 300, 77]
Length of list after: 10
Maximum value in list: 300
Sum of all elements in list: 763