<a href="https://colab.research.google.com/github/nafl13/ICT_Internship/blob/day4/internship_assignment_D4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv(r'/content/Social_Network_Ads (2).csv')
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [ ]:
data.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
data.shape

(400, 5)

In [ ]:
data.dtypes

User ID             int64
Gender             object
Age                 int64
EstimatedSalary     int64
Purchased           int64
dtype: object

In [ ]:
data.Age.nunique()

43

In [ ]:
data.EstimatedSalary.nunique()

117

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()

In [ ]:
data['Gender']=label_encoder.fit_transform(data['Gender'])

In [ ]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [ ]:
X=data.drop('Purchased',axis=1)
y=data['Purchased']

In [ ]:
X

      User ID  Gender  Age  EstimatedSalary
0    15624510       1   19            19000
1    15810944       1   35            20000
2    15668575       0   26            43000
3    15603246       0   27            57000
4    15804002       1   19            76000
..        ...     ...  ...              ...
395  15691863       0   46            41000
396  15706071       1   51            23000
397  15654296       0   50            20000
398  15755018       1   36            33000
399  15594041       0   49            36000

[400 rows x 4 columns]

In [ ]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

### **Linear Regression model**

In [ ]:

from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score

In [ ]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  0.09949629077064023
R Squared value is:  0.5626536669422408

### **Random Forest model**

In [ ]:
# using Random Forest Classifier model

from sklearn.ensemble import RandomForestClassifier

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
rfc = RandomForestClassifier(n_estimators=100, random_state=42)

In [ ]:
model1 = rfc.fit(X_train, y_train)

In [ ]:
predictions = model1.predict(X_test)

In [ ]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  0.075
R Squared value is:  0.6703296703296704

### **Applying min max scaling**

In [ ]:
 X.describe()

            User ID      Gender         Age  EstimatedSalary
count  4.000000e+02  400.000000  400.000000       400.000000
mean   1.569154e+07    0.490000   37.655000     69742.500000
std    7.165832e+04    0.500526   10.482877     34096.960282
min    1.556669e+07    0.000000   18.000000     15000.000000
25%    1.562676e+07    0.000000   29.750000     43000.000000
50%    1.569434e+07    0.000000   37.000000     70000.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000
max    1.581524e+07    1.000000   60.000000    150000.000000

In [ ]:
Xn=X.drop('Gender',axis=1)

In [ ]:
Xn.head()

    User ID  Age  EstimatedSalary
0  15624510   19            19000
1  15810944   35            20000
2  15668575   26            43000
3  15603246   27            57000
4  15804002   19            76000

In [ ]:
# Applying min max scaling to check if there exists a difference in value of the prediction results

from sklearn.preprocessing import MinMaxScaler
min_max_scaler=MinMaxScaler(feature_range=(0,1))
Xn=min_max_scaler.fit_transform(Xn)

In [ ]:
type(Xn)

numpy.ndarray

In [ ]:
data.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [ ]:
# Converting the values of Xn from array to DataFrame for representing and describing clearly

Xn=pd.DataFrame(Xn,columns=['User ID', 'Age', 'EstimatedSalary'])

In [ ]:
Xn.describe()

          User ID         Age  EstimatedSalary
count  400.000000  400.000000       400.000000
mean     0.502323    0.467976         0.405500
std      0.288309    0.249592         0.252570
min      0.000000    0.000000         0.000000
25%      0.241704    0.279762         0.207407
50%      0.513595    0.452381         0.407407
75%      0.738991    0.666667         0.540741
max      1.000000    1.000000         1.000000

In [ ]:
Xn.shape

(400, 3)

In [ ]:
# dropped values 'User ID', 'Age', 'EstimatedSalary' from X to later replaces with scaled values in Xn

X.drop(['User ID', 'Age', 'EstimatedSalary'],axis=1,inplace=True)

In [ ]:
X=pd.concat([X,Xn],axis=1)

In [ ]:
X.head()

   Gender   User ID       Age  EstimatedSalary
0       1  0.232636  0.023810         0.029630
1       1  0.982732  0.404762         0.037037
2       0  0.409926  0.190476         0.207407
3       0  0.147083  0.214286         0.311111
4       1  0.954801  0.023810         0.451852

In [ ]:
# Rechecking to see if we achieved any good deviation from previous result

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  0.09949629077063538
R Squared value is:  0.5626536669422622

### **Applying Standard Scaling**

In [ ]:
# copied all values in data to data3

data3=data

In [ ]:
data3

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510       1   19            19000          0
1    15810944       1   35            20000          0
2    15668575       0   26            43000          0
3    15603246       0   27            57000          0
4    15804002       1   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863       0   46            41000          1
396  15706071       1   51            23000          1
397  15654296       0   50            20000          1
398  15755018       1   36            33000          0
399  15594041       0   49            36000          1

[400 rows x 5 columns]

In [ ]:
X = data3.drop('Purchased',axis=1)
y = data3['Purchased']

In [ ]:
X.describe()

            User ID      Gender         Age  EstimatedSalary
count  4.000000e+02  400.000000  400.000000       400.000000
mean   1.569154e+07    0.490000   37.655000     69742.500000
std    7.165832e+04    0.500526   10.482877     34096.960282
min    1.556669e+07    0.000000   18.000000     15000.000000
25%    1.562676e+07    0.000000   29.750000     43000.000000
50%    1.569434e+07    0.000000   37.000000     70000.000000
75%    1.575036e+07    1.000000   46.000000     88000.000000
max    1.581524e+07    1.000000   60.000000    150000.000000

In [ ]:
# importing StandardScaler

from sklearn.preprocessing import StandardScaler

In [ ]:
std_scl=StandardScaler()

In [ ]:
X2 = X.drop('Gender',axis=1)

In [ ]:
X2 = std_scl.fit_transform(X2)

In [ ]:
type(X2)

numpy.ndarray

In [ ]:
# doing the previous procedure

X2 = pd.DataFrame(X2,columns=['User ID', 'Age', 'EstimatedSalary'])

In [ ]:
X.drop(['User ID', 'Age', 'EstimatedSalary'],axis=1,inplace=True)

In [ ]:
X=pd.concat([X,X2],axis=1)

In [ ]:
X.head()

   Gender   User ID       Age  EstimatedSalary
0       1 -0.936579 -1.781797        -1.490046
1       1  1.668387 -0.253587        -1.460681
2       0 -0.320877 -1.113206        -0.785290
3       0 -1.233692 -1.017692        -0.374182
4       1  1.571389 -1.781797         0.183751

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [ ]:
lr=LinearRegression()
model=lr.fit(X_train,y_train)
predictions=model.predict(X_test)

In [ ]:
print('Mean squared error is: ',mean_squared_error(y_test,predictions))
print('R Squared value is: ',r2_score(y_test,predictions))

Mean squared error is:  0.09949629077063533
R Squared value is:  0.5626536669422624